body {
  margin: 0;
  background-color: #f5f5f5;
}
.path {
  padding-top: 30px;
  padding-bottom: 10px;
}
.top-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
}
.top-table input {
  background-color: #fff;
}
table thead th {
  font-weight: bold !important;
  border-bottom: 2px solid #676767 !important;
}
.text-field {
  text-align: start;
  padding: 7px 15px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
}
